In [2]:
import pandas as pd
from geopy.geocoders import Photon
from unidecode import unidecode
import unidecode

In [3]:
#Cargmos CSV Ciudades

In [5]:
# Cargar el archivo CSV
datos_csv = pd.read_csv('/Users/pablouriarte/Documents/1. Expediente Tec de Monterrey/1.Tesis/Mapa_Migracion_Irregular_Mexico/3. mapas/1. Mapas/Mapa_Casillas_2006_Reconstruido/Ciudades_Rutas/Ciudades_Rutas.csv')

In [10]:
datos_csv

                                  ciudad  etiqueta  ruta  latitud  longitud
0                         Puebla, Puebla       NaN   NaN      NaN       NaN
1                     Tlaxcala, Tlaxcala       NaN   NaN      NaN       NaN
2             Lechería, Estado de México       NaN   NaN      NaN       NaN
3               Tijuana, Baja California       NaN   NaN      NaN       NaN
4              Mexicali, Baja California       NaN   NaN      NaN       NaN
..                                   ...       ...   ...      ...       ...
144                   Celaya, Guanajuato       NaN   NaN      NaN       NaN
146            Tuxtla Gutierrez, Chiapas       NaN   NaN      NaN       NaN
147  San Cristóbal de las Casas, Chiapas       NaN   NaN      NaN       NaN
148         Juchitan de Zaragoza, Oaxaca       NaN   NaN      NaN       NaN
149           San Pedro Pochutla, Oaxaca       NaN   NaN      NaN       NaN

[127 rows x 5 columns]

In [15]:
datos_csv.shape

(99, 5)

In [12]:
#Quitamos acentos de todos lados
def quitar_acentos(valor):
    """Función para quitar acentos de una cadena de texto."""
    if isinstance(valor, str):  # Solo aplicar a cadenas de texto
        return unidecode.unidecode(valor)  # Corrección aquí
    return valor

# Aplicamos la función quitar_acentos a todas las columnas del DataFrame
for columna in datos_csv.columns:
    datos_csv[columna] = datos_csv[columna].apply(quitar_acentos)

/var/folders/68/6zkv8z4j4rl6ds90br2rb7ph0000gn/T/ipykernel_771/1075267683.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datos_csv[columna] = datos_csv[columna].apply(quitar_acentos)

#### Seleccionamos Ciudades

Quitaremos = ['Puerto Madero, Chiapas','Nuevo Vallarta, Nayarit','Puerto Madero, Chiapas''Punta Chivato, Baja California Sur','Loreto, Baja California Sur','La Paz, Baja California Sur','Cabo San Lucas, Baja California Sur
','Isla San Marcos, Baja California Sur','Isla de Cedros, Baja California','El Sauzal, Baja California','Sasabe, Sonora','Naco, Sonora','Ojinaga, Chihuahua','Nuevo Progreso, Tamaulipas','Reynosa, Tamaulipas','Ciudad Camargo, Tamaulipas','Diaz Ordaz, Tamaulipas','Ciudad Miguel Aleman, Tamaulipas','El Mezquital, Durango','Zamora, Michoacan','Papantla, Veracruz','Tultitlan, Estado de Mexico','Apizaco, Tlaxcala','Las Choapas, Veracruz']

In [9]:
#Quitamos esas ciudades que no van con Casillas,2006
# Lista de ciudades a eliminar
ciudades_eliminar = ['Puerto Madero, Chiapas','Nuevo Vallarta, Nayarit','Puerto Madero, Chiapas',
                     'Punta Chivato, Baja California Sur','Loreto, Baja California Sur',
                     'La Paz, Baja California Sur','Cabo San Lucas, Baja California Sur',
                     'Isla San Marcos, Baja California Sur','Isla de Cedros, Baja California',
                     'El Sauzal, Baja California','Sasabe, Sonora','Naco, Sonora',
                     'Ojinaga, Chihuahua','Nuevo Progreso, Tamaulipas','Reynosa, Tamaulipas',
                     'Ciudad Camargo, Tamaulipas','Diaz Ordaz, Tamaulipas',
                     'Ciudad Miguel Aleman, Tamaulipas','El Mezquital, Durango','Zamora, Michoacan',
                     'Papantla, Veracruz','Tultitlan, Estado de Mexico','Apizaco, Tlaxcala',
                     'Las Choapas, Veracruz']

# Filtramos el DataFrame para excluir las filas cuyos valores en la columna 'ciudad' estén en ciudades_eliminar
datos_csv = datos_csv[~datos_csv['ciudad'].isin(ciudades_eliminar)]

In [14]:
#Quitamos Repetidos
# Eliminar duplicados basados en la columna 'Referencia Geográfica'
datos_csv = datos_csv.drop_duplicates(subset='ciudad', keep='first')

Necesitan Coordenadas manuales:

Durango, Durango
Zacatecas, Zacatecas
Puebla, Puebla
Veracruz, Veracruz
Minatitlan, Veracruz