# Combinaciones de rutas

In [1]:
import pandas as pd
from geopy.geocoders import Photon
from geopy.geocoders import Nominatim
from unidecode import unidecode
import unidecode
import numpy as np
from shapely.geometry import Point, Polygon
import geopandas as gpd

### Cargamos Secuencias de rutas

In [ ]:
#rutaspacifico = pd.read_excel('/Users/pablouriarte/Documents/1. Expediente Tec de Monterrey/1.Tesis/Mapa_Migracion_Irregular_Mexico/1. Mapas/1. Mapas/Metodo_1/Rutas/Rutas Pacifico.xlsx')
#rutascentro = pd.read_excel('/Users/pablouriarte/Documents/1. Expediente Tec de Monterrey/1.Tesis/Mapa_Migracion_Irregular_Mexico/1. Mapas/1. Mapas/Metodo_1/Rutas/Rutas Centro.xlsx')
#rutasgolfo = pd.read_excel('/Users/pablouriarte/Documents/1. Expediente Tec de Monterrey/1.Tesis/Mapa_Migracion_Irregular_Mexico/1. Mapas/1. Mapas/Metodo_1/Rutas/Rutas Golfo.xlsx')

In [ ]:
#rutaspacifico.dropna(axis=1, how='all', inplace=True)
#rutascentro.dropna(axis=1, how='all', inplace=True)
#rutasgolfo.dropna(axis=1, how='all', inplace=True)

In [ ]:
# Reemplazamos los NaN por una cadena vacía y convertimos los números a texto con el formato 'PG####'
#rutaspacifico_str = rutaspacifico.fillna('').applymap(lambda x: f'PG{int(x)}' if x != '' else '')
#rutascentro_str = rutascentro.fillna('').applymap(lambda x: f'PG{int(x)}' if x != '' else '')
#rutasgolfo_str = rutasgolfo.fillna('').applymap(lambda x: f'PG{int(x)}' if x != '' else '')

In [ ]:
# Combina las columnas en una cadena separada por comas
#rutaspacifico_str['secuencias_pacifico'] = rutaspacifico_str.apply(lambda x: ', '.join(filter(None, x)), axis=1)
#rutascentro_str['secuencias_centro'] = rutascentro_str.apply(lambda x: ', '.join(filter(None, x)), axis=1)
#rutasgolfo_str['secuencias_golfo'] = rutasgolfo_str.apply(lambda x: ', '.join(filter(None, x)), axis=1)

In [ ]:
# Crear un nuevo DataFrame con una sola columna que contiene las secuencias
#df_secuencias_pacifico = pd.DataFrame({'secuencias_pacifico': rutaspacifico_str['secuencias_pacifico']})
#df_secuencias_centro = pd.DataFrame({'secuencias_centro': rutascentro_str['secuencias_centro']})
#df_secuencias_golfo = pd.DataFrame({'secuencias_golfo': rutasgolfo_str['secuencias_golfo']})

In [ ]:
# Verificar filas duplicadas en df_secuencias_pacifico
#duplicados_pacifico = df_secuencias_pacifico.duplicated()
#print("Filas duplicadas en Pacifico:", df_secuencias_pacifico[duplicados_pacifico])

# Verificar filas duplicadas en df_secuencias_centro
#duplicados_centro = df_secuencias_centro.duplicated()
#print("Filas duplicadas en Centro:", df_secuencias_centro[duplicados_centro])

# Verificar filas duplicadas en df_secuencias_golfo
#duplicados_golfo = df_secuencias_golfo.duplicated()
#print("Filas duplicadas en Golfo:", df_secuencias_golfo[duplicados_golfo])

In [ ]:
# Eliminar filas duplicadas en df_secuencias_pacifico
#df_secuencias_pacifico = df_secuencias_pacifico.drop_duplicates()

# Eliminar filas duplicadas en df_secuencias_centro
#df_secuencias_centro = df_secuencias_centro.drop_duplicates()

# Eliminar filas duplicadas en df_secuencias_golfo
#df_secuencias_golfo = df_secuencias_golfo.drop_duplicates()

In [ ]:
# Cambiar el nombre de la columna en df_secuencias_centro
#df_secuencias_centro = df_secuencias_centro.rename(columns={'secuencias_centro': 'secuencias'})

# Cambiar el nombre de la columna en df_secuencias_golfo
#df_secuencias_golfo = df_secuencias_golfo.rename(columns={'secuencias_golfo': 'secuencias'})

# Cambiar el nombre de la columna en df_secuencias_pacifico
#df_secuencias_pacifico = df_secuencias_pacifico.rename(columns={'secuencias_pacifico': 'secuencias'})

In [ ]:
# Definir los nombres y prefijos de los identificadores para cada área
#nombres_areas = ['pacifico', 'centro', 'golfo']
#prefijos_areas = ['RP', 'RC', 'RG']

# Iterar sobre cada DataFrame y su respectivo nombre de área
#for nombre_area, prefijo_area in zip(nombres_areas, prefijos_areas):
    # Obtener el DataFrame correspondiente
#    df = globals()[f"df_secuencias_{nombre_area}"]
    
    # Generar identificadores únicos para cada secuencia en el DataFrame
#    identificadores = [f"{prefijo_area}{i+1:03d}" for i in range(len(df))]
    
    # Agregar la columna 'ID_Ruta' con los identificadores al DataFrame
#    df['ID_Ruta'] = identificadores
    
    # Reordenar las columnas
#    df = df[['ID_Ruta', 'secuencias']]
    
    # Mostrar las primeras filas del DataFrame para verificar
#    print(f"DataFrame df_secuencias_{nombre_area} con identificadores:")
#    print(df.head())
    print()

### Guardamos df con secuencias

In [ ]:
#df_secuencias_pacifico.to_csv('/Users/pablouriarte/Documents/1. Expediente Tec de Monterrey/1.Tesis/Mapa_Migracion_Irregular_Mexico/1. Mapas/1. Mapas/Metodo_1/Rutas/Secuencias_Pacifico.csv')
#df_secuencias_centro.to_csv('/Users/pablouriarte/Documents/1. Expediente Tec de Monterrey/1.Tesis/Mapa_Migracion_Irregular_Mexico/1. Mapas/1. Mapas/Metodo_1/Rutas/Secuencias_Centro.csv')
#df_secuencias_golfo.to_csv('/Users/pablouriarte/Documents/1. Expediente Tec de Monterrey/1.Tesis/Mapa_Migracion_Irregular_Mexico/1. Mapas/1. Mapas/Metodo_1/Rutas/Secuencias_Golfo.csv')

In [2]:
df_secuencias_pacifico = pd.read_csv('/Users/pablouriarte/Documents/1. Expediente Tec de Monterrey/1.Tesis/Mapa_Migracion_Irregular_Mexico/1. Mapas/1. Mapas/Metodo_1/Rutas/Secuencias_Pacifico.csv')
df_secuencias_centro = pd.read_csv('/Users/pablouriarte/Documents/1. Expediente Tec de Monterrey/1.Tesis/Mapa_Migracion_Irregular_Mexico/1. Mapas/1. Mapas/Metodo_1/Rutas/Secuencias_Centro.csv')
df_secuencias_golfo = pd.read_csv('/Users/pablouriarte/Documents/1. Expediente Tec de Monterrey/1.Tesis/Mapa_Migracion_Irregular_Mexico/1. Mapas/1. Mapas/Metodo_1/Rutas/Secuencias_Golfo.csv')

### Notas:

Al procesar las rutas, nos dimos cuenta que habia muchas secuencias duplicadas. Tambien sera importante a la hora de reproducir la ultima version del ejercicio, eliminar filas intermedias antes de procesar los datos

## Valores / ruta

In [3]:
dfvalores = pd.read_csv('/Users/pablouriarte/Documents/1. Expediente Tec de Monterrey/1.Tesis/Mapa_Migracion_Irregular_Mexico/1. Mapas/1. Mapas/Metodo_1/df_valores_rutas.csv')

In [4]:
dfvalores.head()

,nombre,ciudad,estado,latitud,longitud,codigo_ruta,ID_Poligono,codigo_unico,detenciones,detenciones_in_grid,inm_30km,inm_in_grid,inm_in_estado,sc_30km,sc_in_grid,sc_in_estado
0,"Zihuatanejo de Azueta, Guerrero","Zihuatanejo de Azueta, Guerrero",Guerrero,17.807900,-101.496952,P,PG1027,P-PG1027-1,14,14,1,0,1,0,0,1
1,"Morelia, Michoacan","Morelia, Michoacan",Michoacan,19.702712,-101.192382,P,PG1029,P-PG1029-1,137,137,0,0,0,0,0,1
2,"Cuitzeo, Michoacan","Cuitzeo, Michoacan",Michoacan,19.969314,-101.141220,P,PG1030,P-PG1030-1,1,1,0,0,0,0,1,1
3,"Leon, Guanajuato","Leon, Guanajuato",Guanajuato,21.121860,-101.682508,C,PG1031,C-PG1031-1,2,52,0,0,0,2,8,23
4,"Irapuato, Guanajuato","Irapuato, Guanajuato",Guanajuato,20.675876,-101.352105,C,PG1031,C-PG1031-2,44,52,0,0,0,5,8,23

In [5]:
dfvalores.shape

(442, 16)

#### Ciudad Top (Detenciones)

Filtramos el df de manera que nos quede la ciudad con mas detenciones de cada grid

In [6]:
# Agrupamos por 'ID_Poligono' y encontramos la ciudad con el máximo número de 'detenciones' para cada grupo
ciudades_top_valores = dfvalores.loc[dfvalores.groupby('ID_Poligono')['detenciones'].idxmax()]

# Resetear el índice si es necesario
ciudades_top_valores.reset_index(drop=True, inplace=True)

# Mostramos las primeras filas del nuevo DataFrame para verificar
print(ciudades_top_valores.head())

                            nombre                           ciudad  \
0  Zihuatanejo de Azueta, Guerrero  Zihuatanejo de Azueta, Guerrero
1               Morelia, Michoacan               Morelia, Michoacan
2               Cuitzeo, Michoacan               Cuitzeo, Michoacan
3             Irapuato, Guanajuato             Irapuato, Guanajuato
4               Ocampo, Guanajuato               Ocampo, Guanajuato

       estado    latitud    longitud codigo_ruta ID_Poligono codigo_unico  \
0    Guerrero  17.807900 -101.496952           P      PG1027   P-PG1027-1
1   Michoacan  19.702712 -101.192382           P      PG1029   P-PG1029-1
2   Michoacan  19.969314 -101.141220           P      PG1030   P-PG1030-1
3  Guanajuato  20.675876 -101.352105           C      PG1031   C-PG1031-2
4  Guanajuato  21.604282 -101.476239           C      PG1032   C-PG1032-1

   detenciones  detenciones_in_grid  inm_30km  inm_in_grid  inm_in_estado  \
0           14                   14         1            0              1
1          137                  137         0            0              0
2            1                    1         0            0              0
3           44                   52         0            0              0
4            6                    6         0            0              0

   sc_30km  sc_in_grid  sc_in_estado
0        0           0             1
1        0           0             1
2        0           1             1
3        5           8            23
4        0           0            23

In [7]:
ciudades_top_valores.head()

,nombre,ciudad,estado,latitud,longitud,codigo_ruta,ID_Poligono,codigo_unico,detenciones,detenciones_in_grid,inm_30km,inm_in_grid,inm_in_estado,sc_30km,sc_in_grid,sc_in_estado
0,"Zihuatanejo de Azueta, Guerrero","Zihuatanejo de Azueta, Guerrero",Guerrero,17.807900,-101.496952,P,PG1027,P-PG1027-1,14,14,1,0,1,0,0,1
1,"Morelia, Michoacan","Morelia, Michoacan",Michoacan,19.702712,-101.192382,P,PG1029,P-PG1029-1,137,137,0,0,0,0,0,1
2,"Cuitzeo, Michoacan","Cuitzeo, Michoacan",Michoacan,19.969314,-101.141220,P,PG1030,P-PG1030-1,1,1,0,0,0,0,1,1
3,"Irapuato, Guanajuato","Irapuato, Guanajuato",Guanajuato,20.675876,-101.352105,C,PG1031,C-PG1031-2,44,52,0,0,0,5,8,23
4,"Ocampo, Guanajuato","Ocampo, Guanajuato",Guanajuato,21.604282,-101.476239,C,PG1032,C-PG1032-1,6,6,0,0,0,0,0,23

## Rutas (Ordenado y Filtrado top 3 por region):

### Rutas Top 3 (Detenciones)

#### df_secuencias_pacifico

In [15]:
# Inicializa la lista para almacenar las sumas de detenciones por ruta en el Pacífico
pacifico_sumas = []

# Itera sobre las secuencias del DataFrame df_secuencias_pacifico
for index, row in df_secuencias_pacifico.iterrows():
    # Extrae la secuencia actual y la divide en los IDs individuales
    ids_poligono = row['secuencias'].split(', ')
    # Inicializa las sumas para esta secuencia
    sumas = {
        'detenciones_total': 0,
        'detenciones_in_grid_total': 0,
    }
    
    # Busca cada ID en ciudades_top_valores y suma los valores de las columnas correspondientes
    for id_poligono in ids_poligono:
        data = ciudades_top_valores[ciudades_top_valores['ID_Poligono'] == id_poligono]
        for columna in sumas.keys():
            # Remueve '_total' para coincidir con los nombres de las columnas originales
            col_name = columna.replace('_total', '')
            # Suma si la columna existe en data
            if col_name in data.columns:
                sumas[columna] += data[col_name].sum()

    # Añade la secuencia y las sumas a la lista
    pacifico_sumas.append({'ID_Ruta': row['ID_Ruta'], 'secuencia': row['secuencias'], **sumas})

# Crea el DataFrame final a partir de la lista de resultados
df_pacifico_sumas = pd.DataFrame(pacifico_sumas)

# Reordena las columnas para incluir 'ID_Ruta' antes de 'secuencias'
df_pacifico_sumas = df_pacifico_sumas[['ID_Ruta', 'secuencia', 'detenciones_total', 'detenciones_in_grid_total']]

In [26]:
df_pacifico_sumas = df_pacifico_sumas.sort_values('detenciones_total', ascending=False)

In [43]:
df_pacifico_sumas.head(6)

,ID_Ruta,secuencia,detenciones_total,detenciones_in_grid_total,grupo
610,RP611,"PG1531, PG1532, PG1493, PG1454, PG1415, PG1376...",8544,11013,"PG1531, PG1532, PG1493, PG1454, PG1415"
613,RP614,"PG1531, PG1532, PG1493, PG1454, PG1415, PG1376...",8543,11012,"PG1531, PG1532, PG1493, PG1454, PG1415"
600,RP601,"PG1531, PG1532, PG1493, PG1454, PG1415, PG1376...",8446,10912,"PG1531, PG1532, PG1493, PG1454, PG1415"
603,RP604,"PG1531, PG1532, PG1493, PG1454, PG1415, PG1376...",8445,10911,"PG1531, PG1532, PG1493, PG1454, PG1415"
620,RP621,"PG1531, PG1532, PG1493, PG1454, PG1415, PG1376...",8438,10904,"PG1531, PG1532, PG1493, PG1454, PG1415"
623,RP624,"PG1531, PG1532, PG1493, PG1454, PG1415, PG1376...",8437,10903,"PG1531, PG1532, PG1493, PG1454, PG1415"

In [50]:
# Aquí debemos definir qué consideramos como 'primeras etapas'. Como ejemplo, usaremos las primeras 3 'PGxxx'
df_pacifico_sumas['grupo'] = df_pacifico_sumas['secuencia'].apply(lambda x: ', '.join(x.split(', ')[:4]))

# Agrupar por 'grupo' y obtener el índice de la fila con el mayor 'detenciones_total' para cada grupo
idx = df_pacifico_sumas.groupby('grupo')['detenciones_total'].idxmax()

# Filtrar el DataFrame original para mantener solo las filas con más 'detenciones_total' por grupo
df_filtrado = df_pacifico_sumas.loc[idx].reset_index(drop=True)

# Si necesitas eliminar la columna 'grupo' que se agregó para el filtrado
df_filtrado.drop(columns=['grupo'], inplace=True)

In [51]:
df_filtrado_sorted = df_filtrado.sort_values(by='detenciones_total', ascending=False)

# Mostrar el DataFrame ordenado
df_filtrado_sorted.head(40)

,ID_Ruta,secuencia,detenciones_total,detenciones_in_grid_total
3,RP611,"PG1531, PG1532, PG1493, PG1454, PG1415, PG1376...",8544,11013
2,RP401,"PG1531, PG1530, PG1491, PG1492, PG1453, PG1414...",7309,9137
0,RP102,"PG1529, PG1530, PG1491, PG1492, PG1453, PG1414...",7127,8462
1,RP281,"PG1530, PG1491, PG1492, PG1453, PG1414, PG1415...",6507,7820

In [78]:
secuencias_especificas = df_filtrado_sorted.loc[df_filtrado_sorted['ID_Ruta'].isin(['RP611', 'RP401', 'RP102']), 'secuencia']

# Configurar pandas para mostrar más contenido de cada fila al imprimir
pd.set_option('display.max_colwidth', None)

# Volver a imprimir los resultados para ver la secuencia completa
print(secuencias_especificas.to_string(index=False))

                PG1531, PG1532, PG1493, PG1454, PG1415, PG1376, PG1337, PG1298, PG1299, PG1260, PG1221, PG1120, PG1181, PG1142, PG1103, PG1004, PG1065, PG1026, PG1027, PG988, PG949, PG910, PG911, PG912, PG913, PG914, PG875, PG836, PG837, PG838, PG799, PG800, PG761, PG762, PG723, PG724, PG725, PG686, PG647, PG648, PG609, PG610, PG611, PG572, PG573, PG534, PG495, PG496, PG497, PG498, PG499, PG460, PG421, PG383, PG344, PG345, PG306, PG268, PG229, PG190
PG1531, PG1530, PG1491, PG1492, PG1453, PG1414, PG1415, PG1376, PG1337, PG1298, PG1299, PG1260, PG1221, PG1120, PG1181, PG1142, PG1103, PG1004, PG1065, PG1026, PG1027, PG988, PG949, PG910, PG911, PG912, PG913, PG914, PG875, PG836, PG837, PG838, PG799, PG800, PG761, PG762, PG723, PG724, PG725, PG686, PG647, PG648, PG609, PG610, PG611, PG572, PG573, PG534, PG495, PG496, PG497, PG498, PG499, PG460, PG421, PG383, PG344, PG345, PG306, PG268, PG229, PG190
PG1529, PG1530, PG1491, PG1492, PG1453, PG1414, PG1415, PG1376, PG1337, PG1298, PG1299, PG1260, PG1221, PG1220, PG1181, PG1142, PG1103, PG1004, PG1065, PG1026, PG1027, PG988, PG949, PG910, PG911, PG912, PG913, PG914, PG875, PG836, PG837, PG838, PG799, PG800, PG761, PG762, PG723, PG724, PG725, PG686, PG647, PG648, PG609, PG610, PG611, PG572, PG573, PG534, PG495, PG496, PG497, PG498, PG499, PG460, PG421, PG383, PG344, PG345, PG306, PG268, PG229, PG190

#### df_secuencias_centro

In [52]:
# Inicializa la lista para almacenar las sumas de detenciones por ruta en el Pacífico
centro_sumas = []

# Itera sobre las secuencias del DataFrame df_secuencias_pacifico
for index, row in df_secuencias_centro.iterrows():
    # Extrae la secuencia actual y la divide en los IDs individuales
    ids_poligono = row['secuencias'].split(', ')
    # Inicializa las sumas para esta secuencia
    sumas = {
        'detenciones_total': 0,
        'detenciones_in_grid_total': 0,
    }
    
    # Busca cada ID en ciudades_top_valores y suma los valores de las columnas correspondientes
    for id_poligono in ids_poligono:
        data = ciudades_top_valores[ciudades_top_valores['ID_Poligono'] == id_poligono]
        for columna in sumas.keys():
            # Remueve '_total' para coincidir con los nombres de las columnas originales
            col_name = columna.replace('_total', '')
            # Suma si la columna existe en data
            if col_name in data.columns:
                sumas[columna] += data[col_name].sum()

    # Añade la secuencia y las sumas a la lista
    centro_sumas.append({'ID_Ruta': row['ID_Ruta'], 'secuencia': row['secuencias'], **sumas})

# Crea el DataFrame final a partir de la lista de resultados
df_centro_sumas = pd.DataFrame(centro_sumas)

# Reordena las columnas para incluir 'ID_Ruta' antes de 'secuencias'
df_centro_sumas = df_centro_sumas[['ID_Ruta', 'secuencia', 'detenciones_total', 'detenciones_in_grid_total']]

In [53]:
df_centro_sumas = df_centro_sumas.sort_values('detenciones_total', ascending=False)

In [72]:
# Aquí debemos definir qué consideramos como 'primeras etapas'. Como ejemplo, usaremos las primeras 3 'PGxxx'
df_centro_sumas['grupo'] = df_centro_sumas['secuencia'].apply(lambda x: ', '.join(x.split(', ')[:5]))

# Agrupar por 'grupo' y obtener el índice de la fila con el mayor 'detenciones_total' para cada grupo
idx = df_centro_sumas.groupby('grupo')['detenciones_total'].idxmax()

# Filtrar el DataFrame original para mantener solo las filas con más 'detenciones_total' por grupo
df_filtrado1 = df_centro_sumas.loc[idx].reset_index(drop=True)

# Si necesitas eliminar la columna 'grupo' que se agregó para el filtrado
df_filtrado1.drop(columns=['grupo'], inplace=True)

In [74]:
df_filtrado1_sorted = df_filtrado1.sort_values(by='detenciones_total', ascending=False)

# Mostrar el DataFrame ordenado
df_filtrado1_sorted.head(40)

,ID_Ruta,secuencia,detenciones_total,detenciones_in_grid_total
2,RC366,"PG1530, PG1531, PG1532, PG1493, PG1454, PG1415...",14355,19700
0,RC072,"PG1529, PG1530, PG1491, PG1492, PG1453, PG1414...",12894,17087
1,RC219,"PG1530, PG1491, PG1492, PG1453, PG1414, PG1415...",12299,16477
3,RC492,"PG1572, PG1533, PG1494, PG1417, PG1378, PG1339...",11296,14572

#### df_secuencias_golfo

In [60]:
# Inicializa la lista para almacenar las sumas de detenciones por ruta en el Pacífico
golfo_sumas = []

# Itera sobre las secuencias del DataFrame df_secuencias_pacifico
for index, row in df_secuencias_golfo.iterrows():
    # Extrae la secuencia actual y la divide en los IDs individuales
    ids_poligono = row['secuencias'].split(', ')
    # Inicializa las sumas para esta secuencia
    sumas = {
        'detenciones_total': 0,
        'detenciones_in_grid_total': 0,
    }
    
    # Busca cada ID en ciudades_top_valores y suma los valores de las columnas correspondientes
    for id_poligono in ids_poligono:
        data = ciudades_top_valores[ciudades_top_valores['ID_Poligono'] == id_poligono]
        for columna in sumas.keys():
            # Remueve '_total' para coincidir con los nombres de las columnas originales
            col_name = columna.replace('_total', '')
            # Suma si la columna existe en data
            if col_name in data.columns:
                sumas[columna] += data[col_name].sum()

    # Añade la secuencia y las sumas a la lista
    golfo_sumas.append({'ID_Ruta': row['ID_Ruta'], 'secuencia': row['secuencias'], **sumas})

# Crea el DataFrame final a partir de la lista de resultados
df_golfo_sumas = pd.DataFrame(golfo_sumas)

# Reordena las columnas para incluir 'ID_Ruta' antes de 'secuencias'
df_golfo_sumas = df_golfo_sumas[['ID_Ruta', 'secuencia', 'detenciones_total', 'detenciones_in_grid_total']]

In [61]:
df_golfo_sumas = df_golfo_sumas.sort_values('detenciones_total', ascending=False)

In [64]:
# Aquí debemos definir qué consideramos como 'primeras etapas'. Como ejemplo, usaremos las primeras 3 'PGxxx'
df_golfo_sumas['grupo'] = df_golfo_sumas['secuencia'].apply(lambda x: ', '.join(x.split(', ')[:3]))

# Agrupar por 'grupo' y obtener el índice de la fila con el mayor 'detenciones_total' para cada grupo
idx = df_golfo_sumas.groupby('grupo')['detenciones_total'].idxmax()

# Filtrar el DataFrame original para mantener solo las filas con más 'detenciones_total' por grupo
df_filtrado2 = df_golfo_sumas.loc[idx].reset_index(drop=True)

# Si necesitas eliminar la columna 'grupo' que se agregó para el filtrado
df_filtrado2.drop(columns=['grupo'], inplace=True)

In [75]:
df_filtrado2_sorted = df_filtrado2.sort_values(by='detenciones_total', ascending=False)

# Mostrar el DataFrame ordenado
df_filtrado2_sorted.head(40)

,ID_Ruta,secuencia,detenciones_total,detenciones_in_grid_total
3,RG142,"PG1531, PG1532, PG1493, PG1454, PG1415, PG1376...",8734,14467
4,RG302,"PG1570, PG1531, PG1532, PG1493, PG1454, PG1455...",7931,12919
0,RG034,"PG1529, PG1530, PG1491, PG1492, PG1453, PG1414...",7292,11884
1,RG088,"PG1530, PG1491, PG1492, PG1453, PG1414, PG1415...",6697,11274
2,RG238,"PG1531, PG1530, PG1491, PG1492, PG1453, PG1414...",6464,10628
11,RG942,"PG1769, PG1730, PG1690, PG1652, PG1613, PG1573...",6439,10021
10,RG1006,"PG1690, PG1691, PG1652, PG1613, PG1574, PG1535...",5924,9446
6,RG814,"PG1572, PG1533, PG1534, PG1495, PG1417, PG1378...",5876,9461
7,RG878,"PG1572, PG1573, PG1534, PG1495, PG1417, PG1378...",5867,9449
8,RG334,"PG1610, PG1572, PG1533, PG1494, PG1455, PG1456...",5563,9388
9,RG366,"PG1611, PG1572, PG1533, PG1494, PG1455, PG1456...",5563,9388
5,RG750,"PG1572, PG1533, PG1494, PG1495, PG1417, PG1378...",5491,9017

### Generación de visuales

### Rutas Centro

### Rutas Golfo