In [1]:
import pandas as pd
from geopy.geocoders import Photon
from geopy.geocoders import Nominatim
from unidecode import unidecode
import unidecode

In [2]:
# Ruta al archivo .xls
ruta_archivo = '/Users/pablouriarte/Documents/1. Expediente Tec de Monterrey/1.Tesis/Mapa_Migracion_Irregular_Mexico/3. mapas/1. Mapas/Metodo_1/ciudades_rutas/puntos de internacion/puntos_internacion_inm_2023.csv'

# Cargar el archivo .xls en un DataFrame
df = pd.read_csv(ruta_archivo)

### procesamiento

In [3]:
import pandas as pd

# Lista de columnas que NO comienzan con "Unnamed:"
columnas_a_mantener = [columna for columna in df.columns if not columna.startswith('Unnamed:')]

# Filtrar el DataFrame para mantener solo las columnas seleccionadas
df = df[columnas_a_mantener]

# Verificar el resultado mostrando las primeras filas del DataFrame actualizado
print(df.head())

                                ciudad  edo   medio
0                       Aguascalientes  NaN      NaN
1  Aguascalientes, A. I. "Jésus Terán"  NaN      NaN
2                      Baja California  NaN      NaN
3                Algodones (terrestre)  NaN      NaN
4          Ensenada, A. I. "El Cipres"  NaN      NaN

In [4]:
# Eliminar filas donde la columna 'ciudad' tiene un valor NaN
df = df.dropna(subset=['ciudad'])

# Verificar el resultado mostrando las primeras filas del DataFrame
print(df.head())

                                ciudad  edo   medio
0                       Aguascalientes  NaN      NaN
1  Aguascalientes, A. I. "Jésus Terán"  NaN      NaN
2                      Baja California  NaN      NaN
3                Algodones (terrestre)  NaN      NaN
4          Ensenada, A. I. "El Cipres"  NaN      NaN

In [5]:
df.shape

(210, 3)

In [6]:
df['edo'] = df['edo'].astype('object')

In [9]:
# Asegúrate de que df está actualizado antes de crear es_etiqueta_estado
# Si has modificado df, como eliminar filas con NaN en 'ciudad':
df = df.dropna(subset=['ciudad'])

# Reinicia los índices de df para asegurar que son continuos y comienzan en 0
df.reset_index(drop=True, inplace=True)

# Ahora recrea es_etiqueta_estado para reflejar el estado actualizado de df
es_etiqueta_estado = df['ciudad'].str.contains('^[^\,\.()]*$', regex=True)

# Ahora puedes proceder con tu lógica para asignar 'edo'
etiqueta_actual = None
for idx, row in df.iterrows():
    if es_etiqueta_estado.iloc[idx]:
        etiqueta_actual = row['ciudad']
    df.at[idx, 'edo'] = etiqueta_actual

In [10]:
df = df[df['ciudad'] != df['edo']]

# Mostrar las primeras filas del DataFrame filtrado para verificar
print(df.head())

                                ciudad              edo   medio
1  Aguascalientes, A. I. "Jésus Terán"   Aguascalientes      NaN
3                Algodones (terrestre)  Baja California      NaN
4          Ensenada, A. I. "El Cipres"  Baja California      NaN
5                  Ensenada (marítimo)  Baja California      NaN
6               Isla Cedros (marítimo)  Baja California      NaN

In [11]:
def asignar_etiqueta(ciudad):
    # Convertir todo a cadena para manejar posibles valores NaN o numéricos
    ciudad_str = str(ciudad)
    if '"' in ciudad_str:
        return 'Aeropuerto'
    elif 'marítimo' in ciudad_str.lower():
        return 'Marítima'
    elif 'terrestre' in ciudad_str.lower():
        return 'Terrestre'
    else:
        return 'Otro'  # O cualquier otra etiqueta predeterminada que desees usar

# Aplicar la función actualizada
df['etiqueta'] = df['ciudad'].apply(asignar_etiqueta)

In [12]:
# Mostrar las primeras filas del DataFrame filtrado para verificar
print(df.head())

                                ciudad              edo   medio     etiqueta
1  Aguascalientes, A. I. "Jésus Terán"   Aguascalientes      NaN  Aeropuerto
3                Algodones (terrestre)  Baja California      NaN   Terrestre
4          Ensenada, A. I. "El Cipres"  Baja California      NaN  Aeropuerto
5                  Ensenada (marítimo)  Baja California      NaN    Marítima
6               Isla Cedros (marítimo)  Baja California      NaN    Marítima

In [13]:
# Renombrar la columna 'etiqueta' a 'medio'
df = df.rename(columns={'etiqueta': 'medio'})

In [14]:
# Eliminar columnas que contengan al menos un valor NaN
df = df.dropna(axis=1)

# Verificar los cambios mostrando las primeras filas del DataFrame
print(df.head())

                                ciudad              edo       medio
1  Aguascalientes, A. I. "Jésus Terán"   Aguascalientes  Aeropuerto
3                Algodones (terrestre)  Baja California   Terrestre
4          Ensenada, A. I. "El Cipres"  Baja California  Aeropuerto
5                  Ensenada (marítimo)  Baja California    Marítima
6               Isla Cedros (marítimo)  Baja California    Marítima

In [18]:
# Asegúrate de que la ruta termine en '.xlsx' para guardar como un archivo Excel
ruta_nueva = '/Users/pablouriarte/Documents/1. Expediente Tec de Monterrey/1.Tesis/Mapa_Migracion_Irregular_Mexico/3. mapas/1. Mapas/Metodo_1/ciudades_rutas/puntos de internacion/puntos_internacion.xlsx'

# Guardar el DataFrame en un archivo Excel en la ruta especificada
df.to_excel(ruta_nueva, index=False)

print(f"El DataFrame ha sido guardado exitosamente en: {ruta_nueva}")

/var/folders/68/6zkv8z4j4rl6ds90br2rb7ph0000gn/T/ipykernel_19081/3765691562.py:5: UserWarning: Pandas requires version '3.0.5' or newer of 'xlsxwriter' (version '3.0.3' currently installed).
  df.to_excel(ruta_nueva, index=False)

El DataFrame ha sido guardado exitosamente en: /Users/pablouriarte/Documents/1. Expediente Tec de Monterrey/1.Tesis/Mapa_Migracion_Irregular_Mexico/3. mapas/1. Mapas/Metodo_1/ciudades_rutas/puntos de internacion/puntos_internacion.xlsx

In [24]:
# Ruta al archivo .xls
ruta_archivo1 = '/Users/pablouriarte/Documents/1. Expediente Tec de Monterrey/1.Tesis/Mapa_Migracion_Irregular_Mexico/3. mapas/1. Mapas/Metodo_1/ciudades_rutas/puntos de internacion/puntos_internacion.xlsx'

# Cargar el archivo .xls en un DataFrame
df1 = pd.read_excel(ruta_archivo1)

print(df1.head())

                                ciudad  \
0  Aguascalientes, A. I. "Jésus Terán"
1                Algodones (terrestre)
2          Ensenada, A. I. "El Cipres"
3                  Ensenada (marítimo)
4               Isla Cedros (marítimo)

                                   latitud    longitud              edo  \
0  21.701467443187862, -102.31592719740514         NaN   Aguascalientes
1  32.714894020334775, -114.73331058811812         NaN  Baja California
2   31.75080080159697, -116.59481998668603         NaN  Baja California
3                                  31.8933 -116.691263  Baja California
4                                28.154499 -115.233074  Baja California

        medio
0  Aeropuerto
1   Terrestre
2  Aeropuerto
3    Marítima
4    Marítima

In [28]:
df1

,ciudad,latitud,longitud,edo,medio
0,"Aguascalientes, A. I. ""Jésus Terán""",21.701467,-102.315927,Aguascalientes,Aeropuerto
1,Algodones (terrestre),32.714894,-114.733311,Baja California,Terrestre
2,"Ensenada, A. I. ""El Cipres""",31.750801,-116.594820,Baja California,Aeropuerto
3,Ensenada (marítimo),31.8933,-116.691263,Baja California,Marítima
4,Isla Cedros (marítimo),28.154499,-115.233074,Baja California,Marítima
...,...,...,...,...,...
138,Las Coloradas (marítimo),21.608473,-87.986935,Yucatán,Marítima
139,"Mérida, A. I.",20.934009,-89.663137,Yucatán,Aeropuerto
140,Progreso (marítimo),21.281195,-89.661420,Yucatán,Marítima
141,Yucalpetén (marítimo),21.277344,-89.707803,Yucatán,Marítima
142,"Zacatecas, A. I. ""Gral. Leobardo C. Ruiz """,22.900349,-102.679763,Zacatecas,Aeropuerto

In [27]:
# Paso 1 y 2: Verificar y separar los valores (latitud, longitud) en la columna "latitud"
# Creamos dos nuevas columnas temporales para almacenar los valores separados
df1[['temp_lat', 'temp_long']] = df1['latitud'].str.extract(r'\(?([-\d\.]+),\s*([-\d\.]+)\)?', expand=True)

# Paso 3: Rellenar la columna "longitud" con los valores de 'temp_long' donde 'longitud' es NaN
# Primero, asegúrate de que 'longitud' es de tipo flotante para poder comparar con NaN
df1['longitud'] = pd.to_numeric(df1['longitud'], errors='coerce')
# Luego, usa loc para rellenar solo donde 'longitud' es NaN
df1.loc[df1['longitud'].isna(), 'longitud'] = pd.to_numeric(df1['temp_long'], errors='coerce')

# Para la columna 'latitud', reemplaza los valores solo si 'temp_lat' no es NaN (indicando que se extrajo correctamente un valor)
df1.loc[~df1['temp_lat'].isna(), 'latitud'] = pd.to_numeric(df1['temp_lat'], errors='coerce')

# Paso 4: Eliminar las columnas temporales
df1 = df1.drop(['temp_lat', 'temp_long'], axis=1)

In [30]:
# Asegúrate de que la ruta termine en '.xlsx' para guardar como un archivo Excel
ruta_nueva2 = '/Users/pablouriarte/Documents/1. Expediente Tec de Monterrey/1.Tesis/Mapa_Migracion_Irregular_Mexico/3. mapas/1. Mapas/Metodo_1/ciudades_rutas/puntos de internacion/puntos_internacion.csv'

# Guardar el DataFrame en un archivo Excel en la ruta especificada
df1.to_csv(ruta_nueva2, index=False)

print(f"El DataFrame ha sido guardado exitosamente en: {ruta_nueva}")

El DataFrame ha sido guardado exitosamente en: /Users/pablouriarte/Documents/1. Expediente Tec de Monterrey/1.Tesis/Mapa_Migracion_Irregular_Mexico/3. mapas/1. Mapas/Metodo_1/ciudades_rutas/puntos de internacion/puntos_internacion.xlsx